.instagram {
    padding-top: 50px;
    padding-bottom: 50px;
        position: relative;
}

.instagram-bg {
        position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.instagram-image {
   width: 100%;
    height: 100%;
    object-fit: cover;
}
.catalog {}
.catalog {}
.catalog {}
.catalog {}
.catalog {}
.catalog {}


@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}