.instagram {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.instagram-window__open {
    position: fixed;
    width: 60vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    border-radius: 20px;
}

.instagram-window__open-true {
    width: 70vw;
    height: 70vh;
}

.instagram-window__open-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.instagram-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 400px;
}

.instagram-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.instagram__title {
    color: #000;
    font-family: Poiret One;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
}

.instagram-box-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.instagram-box {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
}

.instagram-box__item {
    width: 220px;
    height: 220px;
    cursor: pointer;
}

.instagram-box__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 1200px) {

    .instagram-box__item {
        width: 200px;
        height: 200px;
    }

    .instagram-box {
        gap: 20px;
    }

}

@media (max-width: 992px) {

    .instagram-box {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-items: center;
    }

    .instagram-box__item {
        width: 300px;
        height: 300px;
    }

}

@media (max-width: 768px) {


    .instagram-box__item {
        width: 200px;
        height: 200px;
    }

}

@media (max-width: 576px) {

    .instagram-box__item {
        width: 120px;
        height: 120px;
    }

    .instagram__title {
        font-size: 33px;
    }

    .instagram {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .instagram-bg {
        width: 200px;
    }

    .instagram-window__open-true {
        width: 98vw;
    }

    .instagram-container {
        gap: 0px;
    }

}