.singleBeds {
    padding-top: 50px;
    padding-bottom: 50px;
}

.singleBeds-container {}

.singleBeds-box {
    display: flex;
    gap: 50px; 
    padding-bottom: 50px;
}

.singleBeds-box__picture {
    width: 50%;
}

.singleBeds-box__image {}

.singleBeds-box__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

.singleBeds-box__text-title {}

.singleBeds-box__text-description {}

.singleBeds-boxSecond {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;  
}

.singleBeds-boxSecond__item {
    /* width: 500px; */
    height: 300px;
    background-color:red;      
}

.SingleBeds {}





@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}