.catalog {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow-y: hidden;
}

.catalog-box__item-bg1 {
    position: absolute;
    top: -25px;
    left: 0;
    z-index: -1;
    width: 30vw;
}

.catalog-box__item-bg2 {
    position: absolute;
    top: 1000px;
    right: 0;
    z-index: -1;
    width: 30vw;
}

.catalog-box__item-bg3 {
    position: absolute;
    bottom: 430px;
    bottom: 230px;
    left: 0;
    z-index: -1;
    width: 50vw;
}

.catalog-box__item-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog__title-box {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
    padding-left: 85px;
}

.catalog__title {
    color: #19772E;
    font-family: Didact Gothic;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 59.94px;
}

.catalog__title-picture {}

.catalog__title-image {
    width: 100%;
}

.catalog-box {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.catalog-box__item {
    display: flex;
    justify-content: center;
}

.catalog-box__item-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.catalog-box__item-text-title {
    color: #000;
    font-family: Poiret One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: 242px;
}

.catalog-box__item-text-link {
    width: 242px;
    color: rgba(25, 119, 46, 0.60);
    font-family: Didact Gothic;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.catalog-box__item-picture {
    width: 40vw;
}

.catalog-box__item-picture-left {
    width: 40vw;
    order: -1;
}

.catalog-box__item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .catalog-box__item {
        justify-content: space-around;
    }
}

@media (max-width: 768px) {

    .catalog-box__item-bg1 {
        top: 70px;
        width: 38vw;
    }

    .catalog-box__item-bg2 {
        top: 500px;
    }
}

@media (max-width: 576px) {

    .catalog__title-box {
        margin-bottom: 20px;
        padding-left: 20px;
    }

    .catalog-box__item {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .catalog-box {
        gap: 100px;
    }

    .catalog-box__item-text {
        width: auto;
        align-items: flex-end;
    }

    .catalog-box__item-picture {
        width: 70vw;
    }

    .catalog-box__item-picture-left {
        width: 70vw;
        order: 1;
        margin-left: auto;
    }

    .catalog-box__item-text-left {
        align-items: flex-start;
    }

}