.productItem {
    padding-top: 50px;
    padding-bottom: 50px;
    /* position: relative; */
}

.productItem-container {}

.productItem-box {
    width: 100%;

    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}



.product-window__gallary {
    width: 600px;
}

.product-window__gallary-pictureMain {
    margin-bottom: 50px;
    height: 400px;
    width: 100%;
}

.product-window__gallary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-window__gallary-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.product-window__gallary-box__images {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-start;
}

.product-window__gallary-picture {
    width: 80px;
    height: 60px;
}

.product-window__gallary-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-window__info {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    gap: 20px;
    padding: 20px;
    padding-top: 70px;
}

.product-window__info-starBox {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-window__info-starBox-item {
    color: #FFBD48;
    scale: 1.5;
}

.product-window__info-starBox-text {
    background-color: #FFBD48;
    padding: 1px 9px;
    margin-left: 5px;
}

.product-window__info-title {
    color: black;
    height: 72px;
    font-size: 30px;
    /* margin-bottom: 20px; */
    overflow: clip;

}

.product-window__info-color {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-window__info-color-box {
    display: flex;
    gap: 30px;
}

.color-box__item {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 25px;
}

.item1 {
    background-color: blue;
}

.item2 {
    background-color: red;
}

.item3 {
    background-color: orange;
}

.item4 {
    background-color: violet;
}

.item5 {
    background-color: green;
}

.product-window__info-price {
    font-size: 30px;
}

.productItem__description {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
}

.productItem__characteristic {
    font-size: 18px;
}


@media (max-width: 1200px) {

    .productItem-box {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }


}

@media (max-width: 992px) {

.product-window__info {
        padding-top: 20px;
    }

}

@media (max-width: 768px) {

    .product-window__gallary {
        width: 100%;
    }

    .product-window__gallary-pictureMain {
        height: 100%;
    }

    .product-window__gallary-box__images {
        justify-content: center;
    }

    .product-window__info {
        width: 100%;
    }

.product-window__gallary-box {
    gap: 0px;
}

}

@media (max-width: 576px) {

.product-window__info {
       padding-top: 0px;
    }

}